In [1]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import gc
path='/home/student303/oyx/almama/'
train = pd.read_hdf(path+ 'somefeature/base_feature_train_0.h5')
test = pd.read_hdf(path+ 'somefeature/base_feature_test_0.h5')
combine = [train, test]
print('Read Data Finish')

Read Data Finish

In [103]:
train[['shop_id','user_id','item_id','day','hour','min','second','is_trade','context_timestamp']][train.shop_id == 885166875933565788][train.user_id == 5543897424425482275]

/home/student303/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,shop_id,user_id,item_id,day,hour,min,second,is_trade,context_timestamp
48963,885166875933565788,5543897424425482275,3677825595136396808,18,0,1,27,0,1537200087
48971,885166875933565788,5543897424425482275,3677825595136396808,18,14,19,31,0,1537251571
48990,885166875933565788,5543897424425482275,3677825595136396808,18,14,17,27,0,1537251447
114794,885166875933565788,5543897424425482275,3677825595136396808,21,21,21,45,0,1537536105

In [98]:
1537720129 - 1537721586

-1457

In [79]:
tmpmerger = train[['user_id','instance_id']].groupby('user_id').count().reset_index().rename(columns={'instance_id':'tmp_cnt'})

In [80]:
train = pd.merge(train,tmpmerger, on='user_id',how='left')

In [85]:
train[['user_id']][train.tmp_cnt > 5][train.is_trade == 1]

/home/student303/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                    user_id
83      5560193269455218286
129     3143949424654601991
2023    7038335650491733068
2367    2723939476766557512
2515    3056263399386680541
2683    1446551507781001388
2971    1795762959752429883
3093     241479811989204793
3109    3056263399386680541
3374    3898838976263428398
3528    5472963020992267158
3986    5263518289130213214
4222    1895864589234977414
4312    6761422619260869586
4656    3313576017187968518
5711    4332640693470279220
6082    5291425366188888051
6243    4695796432704703495
6459    8290365491518637486
6543    8290365491518637486
6959    8421298724199419716
7212    2614316178039299346
7456    7257721245391387624
9054    5026050567726548753
9457    4513290503898881365
9595    1461877391460939738
9741    8791919422251976052
10080   7707644812823629561
10151    730829212152786773
11258   5899721711742407386
...                     ...
468570  1904443533591822635
468656   149707980636977760
468709  8686646282044849441
469362  4043225107483734317
470925   322576970295323664
471036  5465381820426031893
471554  1247588584045241839
472275  6740757697756291184
472305  5401778545176159402
472335   429943864722222581
472468  2666122723501597646
473002  5879338628987224875
473219  7130665521551165836
473353   419882467683051020
474519  5134011590042724032
474652  5069010754637190259
474887  4412057570886396713
474897  2192808104942513804
475273  5543747185331909087
475494  5726413531825056709
475593  6679266808797714543
475768  3358637808921543056
475976   273037739978255053
476186  4204241899750797165
476531  4955755105331339099
476584  3570626668538214321
476689   228535233421958636
476923   839783032710266419
477322  5807094630597061162
477393  2243576199370962468

[1464 rows x 1 columns]