In [19]:
import pandas as pd
import numpy as np
import gc
path='/home/student303/oyx/almama/'
data = pd.read_hdf(path+ 'somefeature/base_feature_all_0.h5')
print('Read Data Finish')

Read Data Finish

In [20]:
data_columns = list(data.columns)
for i in ['instance_id',
          'context_id',
          'context_timestamp',
          'predict_category_property',
          'is_trade',
          'day',
        
          'shop_score_service',
          'shop_score_delivery',
          'shop_score_description',
          'shop_review_positive_rate'
         ]:
    data_columns.remove(i)

In [10]:
len(data_columns)

22

In [34]:
tmpmerge1

NameError: name 'tmpmerge1' is not defined

In [32]:
for i in data_columns[21:]:
    tmpmerge1 = data[[i,'instance_id']].groupby([i]).count().reset_index()
    data= pd.merge(data, tmpmerge1, on=[i], how='left')
   # del tmpmerge1
    gc.collect()

In [33]:
data.head()

,instance_id_x,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,shop_score_description,is_trade,item_category_hash,day,hour,min,second,min_today_cilk,second_today_cilk,instance_id_y
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,1.0,0,5332,18,10,9,4,8298.0,8302.0,8298
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,1.0,0,5332,18,12,0,32,8399.0,8095.0,8323
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,1.0,0,5332,18,3,4,12,8365.0,8439.0,8336
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,1.0,0,5332,18,6,17,50,8401.0,8510.0,8369
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,1.0,0,5332,18,19,48,40,8207.0,8298.0,8329

In [ ]:
save_train = tmpdf[tmpdf.day != 25]
save_test = tmpdf[tmpdf.day == 25]

tmpdf.to_hdf(path + 'somefeature/one_column_cnt.h5',key='a',index=False)
save_train.to_hdf(path + 'somefeature/one_column_train_cnt.h5',key='a',index=False)
save_test.to_hdf(path + 'somefeature/one_column_test_cnt.h5',key='a',index=False)