In [1]:
import pandas as pd
import numpy as np

In [16]:
path = '../almama/'
df_train = pd.read_table(path + 'train.txt', sep = ' ')
df_test = pd.read_table(path + 'test.txt', sep = ' ')

In [19]:
df_train.shape

(478138, 27)

In [200]:
df_train.columns

Index(['instance_id', 'item_id', 'item_category_list', 'item_property_list',
       'item_brand_id', 'item_city_id', 'item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'user_id', 'user_gender_id',
       'user_age_level', 'user_occupation_id', 'user_star_level', 'context_id',
       'context_timestamp', 'context_page_id', 'predict_category_property',
       'shop_id', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description', 'is_trade'],
      dtype='object')

In [251]:
df_train.predict_category_property[2]

'5799347067982556520:5131280576272319091;7258015885215914736:5131280576272319091;7908382889764677758:5131280576272319091'

In [252]:
df_train.item_property_list[2]

'2072967855524022579;5131280576272319091;2636395404473730413;8070395809181082496;6434796455031995313;7839592306500064003;3657871859501171040;1782439090818545916;6936314038707413523;5117290135792467652;720840888466250585;8838717711606756251;9172976955054793469;6296485275518770064;8154150695030794787;8199832121759092112;773321667872991333;7270669313837600482;3408398779125901630;4359277201620147874;448184584262668803;9029095803741432716'

In [233]:
df_train[['item_city_id','item_price_level']].groupby(['item_city_id']).count().reset_index()

            item_city_id  item_price_level
0                     -1               277
1     196257267849351217             30276
2     209109918333456044               110
3     266534138255813526               143
4     333440506879701736                18
5     445518607167094136               395
6     470140807240234049               187
7     481482873950391103                84
8     514694032262818403               155
9     548352491538518780              1770
10    739849083029856578              1076
11    977185943282967113                 2
12    982582487743860343                 2
13    983006732149699580               730
14   1019055478500227370             19701
15   1114691270281148507                 7
16   1409192320340625053                 9
17   1548565541085191105              2213
18   1608360359484386240                10
19   1651749364812671046               106
20   1659868702501373320              1228
21   1661833213317550436                 3
22   1904187424400452352                33
23   2007021308771876996               984
24   2022231041883668124               535
25   2171543029187596030              5916
26   2174699138227015967              2186
27   2245236340473056111                97
28   2336396634847254369               245
29   2441251304977218559                42
..                   ...               ...
98   7296767819688411871                22
99   7322157373578955368             58326
100  7433943245423082092                47
101  7534238860363577544            154991
102  7566476095478034400                 4
103  7599123333627852867                67
104  7604343517846788325                 3
105  7968875866014064608                13
106  7997974227049795263               522
107  8034210119001863030                39
108  8059836771696705787                 1
109  8072963182326625214              1385
110  8084791051540705017                 3
111  8201343797229916526                55
112  8213194587913143640               636
113  8221750265705823825               573
114  8237816787986283553               439
115  8240548652619864253              4257
116  8480550192700287318              1649
117  8519578687848277273              2031
118  8747526603856329147               658
119  8762827044490678569              1778
120  8774880668563049760              1110
121  8835551476805511776                 4
122  8933803011128731487                13
123  8939023195347666945               131
124  8969611739750220759                15
125  9070707733479115872               438
126  9088192369782437159              2938
127  9151270500179171459                50

[128 rows x 2 columns]

In [223]:
df_train.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4006,5799347067982556520:-1;509660095530134768:-1;5...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:5131280576272319091;725801...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4016,509660095530134768:-1;5799347067982556520:-1;7...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0

In [177]:
tmp2 = tmp2.rename(columns={'item_id_x':'item_id'})

In [173]:
tmp2[tmp2['count'] == 3]

,instance_id,item_id_x,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade,count
17136,3370133319712542740,7183501913997303466,7908382889764677758;7258015885215914736,6370378838537695109;5977512434884267894;513128...,3697251094784296011,1019055478500227370,6,11,10,15,...,"7258015885215914736:5131280576272319091,914848...",7711074060928959377,19,0.99813,5016,0.979382,0.978366,0.976231,1,3
17149,3370133319712542740,7183501913997303466,7908382889764677758;7258015885215914736,6370378838537695109;5977512434884267894;513128...,3697251094784296011,1019055478500227370,6,11,10,15,...,"7258015885215914736:5131280576272319091,914848...",7711074060928959377,19,0.99813,5016,0.979382,0.978366,0.976231,1,3
17215,3370133319712542740,7183501913997303466,7908382889764677758;7258015885215914736,6370378838537695109;5977512434884267894;513128...,3697251094784296011,1019055478500227370,6,11,10,15,...,"7258015885215914736:5131280576272319091,914848...",7711074060928959377,19,0.99813,5016,0.979382,0.978366,0.976231,1,3
293052,5479907258807096112,2079092401639430105,7908382889764677758;7258015885215914736,5131280576272319091;2636395404473730413;462193...,5051039799137810159,3122721854741763495,6,15,17,20,...,7258015885215914736:-1;7822717283490579102:821...,8953967780295706657,20,1.00000,5017,0.977122,0.976133,0.982544,1,3
293053,5479907258807096112,2079092401639430105,7908382889764677758;7258015885215914736,5131280576272319091;2636395404473730413;462193...,5051039799137810159,3122721854741763495,6,15,17,20,...,7258015885215914736:-1;7822717283490579102:821...,8953967780295706657,20,1.00000,5017,0.977122,0.976133,0.982544,1,3
293054,5479907258807096112,2079092401639430105,7908382889764677758;7258015885215914736,5131280576272319091;2636395404473730413;462193...,5051039799137810159,3122721854741763495,6,15,17,20,...,7258015885215914736:-1;7822717283490579102:821...,8953967780295706657,20,1.00000,5017,0.977122,0.976133,0.982544,1,3

In [179]:
df_train.columns

Index(['instance_id', 'item_id', 'item_category_list', 'item_property_list',
       'item_brand_id', 'item_city_id', 'item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'user_id', 'user_gender_id',
       'user_age_level', 'user_occupation_id', 'user_star_level', 'context_id',
       'context_timestamp', 'context_page_id', 'predict_category_property',
       'shop_id', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description', 'is_trade'],
      dtype='object')

In [198]:
df_train['is_trade'].describe()

count    478138.000000
mean          0.018867
std           0.136055
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: is_trade, dtype: float64

## A new feature

In [2]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import scipy as sp
path='/home/student303/oyx/almama/'
train = pd.read_hdf(path+ 'somefeature/two_column_train_feature.h5', key = 'a')
test = pd.read_hdf(path+ 'somefeature/two_column_test_feature.h5', key = 'a')
#y_train = pd.read_csv(path + 'somefeature/y_train.csv')

In [5]:
user_day_hour_cnt=train[['user_id','day','hour','instance_id']].groupby(['user_id','day','hour']).count().reset_index()
user_day_hour_cnt.rename(columns={'instance_id':'user_day_hour_cnt'},inplace=True)
train=pd.merge(train,user_day_hour_cnt,on=['user_id','day','hour'],how='left')

In [50]:
droplist = ['item_category_list',
            'item_property_list',
            'user_id',
            'context_id',
           #'context_page_id',
            'predict_category_property',
            #'shop_id'
           ]
df_test = test.drop(droplist, axis=1)
df_train = train.drop(droplist, axis=1)
# df_train.drop('is_trade', axis=1, inplace = True)
combine = [df_train, df_test]

In [51]:
def logloss(act, pred):
    epsilon = 1e-15
    pred = sp.maximum(epsilon, pred)
    pred = sp.minimum(1-epsilon, pred)
    ll = sum(act*sp.log(pred) + sp.subtract(1,act)*sp.log(sp.subtract(1,pred)))
    ll = ll * -1.0/len(act)
    return ll

In [52]:
train_train = df_train[df_train.day != 24]
train_valid = df_train[df_train.day == 24]

In [53]:
train_X = train_train.drop('is_trade', axis=1)
train_y = train_train['is_trade'].values

valid_X = train_valid.drop('is_trade', axis=1)
valid_y = train_valid['is_trade'].values

In [54]:
#train_X, valid_X, train_y, valid_y = train_test_split(df_train, y_train['is_trade'], test_size = 0.1, random_state = 144) 
train_dataframe = df_train[df_train.day != 24]
d_train = lgb.Dataset(train_X, label=train_y)
d_valid = lgb.Dataset(valid_X, label=valid_y)
watchlist = [d_train, d_valid]

In [55]:
print('LGBM training')
#lgb_train = lgb.Dataset(df_train.values, label = y_train.is_trade)
params = {
    'task': 'train',
    #'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': 'binary_logloss',
    'max_depth':5,
#    'num_leaves': 6,
#    'min_data_in_leaf':1,
    #'max_bin':150,  
    'learning_rate': 0.1,
    'feature_fraction': 0.5,
    'bagging_fraction':0.8,
    #'bagging_freq': 5,
    'verbose': 0,
}
model = lgb.train(params, train_set=d_train, num_boost_round=6000, valid_sets=watchlist, \
                  early_stopping_rounds=500, verbose_eval=50)
print('LGBM training done')

LGBM training
Train until valid scores didn't improve in 500 rounds.
[50]	training's binary_logloss: 0.0836344	valid_1's binary_logloss: 0.0822354
[100]	training's binary_logloss: 0.0758744	valid_1's binary_logloss: 0.082048
[150]	training's binary_logloss: 0.0708147	valid_1's binary_logloss: 0.082287
[200]	training's binary_logloss: 0.0663249	valid_1's binary_logloss: 0.0826229
[250]	training's binary_logloss: 0.0618375	valid_1's binary_logloss: 0.0828624
[300]	training's binary_logloss: 0.0580689	valid_1's binary_logloss: 0.0830941
[350]	training's binary_logloss: 0.0544296	valid_1's binary_logloss: 0.0835706
[400]	training's binary_logloss: 0.0507154	valid_1's binary_logloss: 0.0841496
[450]	training's binary_logloss: 0.047628	valid_1's binary_logloss: 0.0845482
[500]	training's binary_logloss: 0.0448665	valid_1's binary_logloss: 0.0850474
[550]	training's binary_logloss: 0.0419258	valid_1's binary_logloss: 0.0855191
Early stopping, best iteration is:
[71]	training's binary_logloss: 0.0797903	valid_1's binary_logloss: 0.0818902
LGBM training done

In [58]:
model.feature_importance()

array([ 5,  7,  0, 18,  8, 10,  0,  0,  1,  9,  0,  2,  2, 16,  6,  7,  0,
        7, 30, 12, 19,  0,  4,  1,  0,  5, 16,  7, 10, 11,  7,  6,  3,  9,
        6, 12,  3, 10,  7,  3,  8,  4, 22,  6,  3,  8, 10,  8, 19,  7,  7,
        9,  9, 19,  4,  9, 13, 14, 12, 13, 21, 14, 52, 43,  0, 14, 17,  8,
        1, 17,  4,  0, 13,  3, 16, 12,  3,  3,  6,  5,  5,  7,  5,  0,  7,
       10,  1, 18, 13,  1, 19,  0,  7, 22, 13,  4, 17,  4,  4,  8,  5,  1,
        2,  9,  5,  8,  2, 13,  0,  1,  5,  2,  5, 11,  1,  4,  7,  2,  1,
        1,  4,  8,  1, 20,  0, 11,  6, 11,  9, 15,  7, 16,  8,  3,  2, 11,
       18,  1,  4,  0,  9, 28, 11, 12,  6,  7,  3,  6, 11,  0,  4, 11,  0,
        0,  2,  3,  4,  3,  0,  1,  2,  8, 13,  0,  5,  1,  0, 10, 22, 10,
        8, 11, 11, 10, 23, 12,  0,  6, 12,  4,  2,  2,  6,  0,  2,  1,  3,
        3,  0,  7,  2, 27, 15,  6,  3,  3,  5,  9,  4,  0,  7,  8,  9, 17,
        8, 21, 15, 13,  8,  0,  3, 23, 15,  8, 13, 16, 10, 10,  0, 11,  7,
        7,  8,  9, 10,  9,  0,  6, 14,  7,  6,  6,  8,  0,  5,  6,  1,  7,
        3,  1,  8,  5,  6,  5,  0, 10,  3,  4,  3,  5, 20,  2,  5,  6,  1,
        3,  5, 47,  8])

In [59]:
newdropfeature=[]
for i in range(len(train_X.columns)):
    if model.feature_importance()[i]<=1:
        newdropfeature.append(train_X.columns[i])
    if model.feature_importance()[i]>50:
        print(train_X.columns[i])

hour->user_age_level_cvr

In [41]:
train[train.user_id==631098640666485663]

,context_id,context_page_id,context_timestamp,day,hour,instance_id,is_trade,item_brand_id,item_category_hash,item_category_list,...,user_age_level->user_id_cvr,user_age_level->user_occupation_id_cvr,user_age_level->user_star_level_cvr,user_gender_id->user_id_cvr,user_gender_id->user_occupation_id_cvr,user_gender_id->user_star_level_cvr,user_id->user_occupation_id_cvr,user_id->user_star_level_cvr,user_occupation_id->user_star_level_cvr,user_day_hour_cnt
150876,3792676675752321745,4001,1537671113,23,10,8411013102780371882,0.0,7838285046767229711,1443,7908382889764677758;5755694407684602296,...,NaN,0.022943,0.025896,NaN,0.021374,0.011574,NaN,NaN,0.01971,3
168827,6071881451013601126,4004,1537671487,23,10,7441388116896078257,0.0,7565624769050790558,9521,7908382889764677758;8277336076276184272,...,NaN,0.022943,0.025896,NaN,0.021374,0.011574,NaN,NaN,0.01971,3
191798,7742584616760441507,4001,1537671113,23,10,1700906507911722462,0.0,1902568530584691432,1153,7908382889764677758;509660095530134768,...,NaN,0.022943,0.025896,NaN,0.021374,0.011574,NaN,NaN,0.01971,3
202990,4698304255010264399,4007,1537674044,23,11,1868221240844627834,1.0,1902568530584691432,1153,7908382889764677758;509660095530134768,...,NaN,0.022943,0.025896,NaN,0.021374,0.011574,NaN,NaN,0.01971,1

In [46]:
d={}
def finduser_seq(x):
    if x.user_id not in d:
        d[x.user_id]=1
    else:
        d[x.user_id]+=1
    return d[x.user_id]
train['user_seq']=train.apply(finduser_seq,axis=1)

In [49]:
train[['is_trade','user_seq']].groupby('user_seq').mean()

          is_trade
user_seq
1         0.020943
2         0.018026
3         0.017415
4         0.013653
5         0.014645
6         0.013200
7         0.010535
8         0.012884
9         0.010382
10        0.008596
11        0.009931
12        0.017294
13        0.013550
14        0.008666
15        0.008969
16        0.005848
17        0.003497
18        0.021834
19        0.033898
20        0.020134
21        0.015748
22        0.000000
23        0.012195
24        0.000000
25        0.000000
26        0.000000
27        0.025641
28        0.000000
29        0.000000
30        0.000000
31        0.000000
32        0.000000
33        0.000000
34        0.000000
35        0.000000
36        0.000000
37        0.000000
38        0.000000
39        0.000000
40        0.000000
41        0.000000
42        0.000000
43        0.000000
44        0.000000
45        0.000000
46        0.000000
47        0.000000
48        0.000000
49        0.000000
50        0.000000
51        0.000000
52        0.000000
53        0.000000